.input-fecha {
  background: url('data:image/svg+xml;utf8,<svg fill="none" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><rect fill="%23fff" height="24" rx="4" width="24"/><rect fill="%23e5e7eb" height="2" rx="1" width="16" x="4" y="7"/><rect fill="%23e5e7eb" height="10" rx="2" width="16" x="4" y="9"/><rect fill="%239ca3af" height="2" rx="1" width="2" x="7" y="4"/><rect fill="%239ca3af" height="2" rx="1" width="2" x="15" y="4"/></svg>') no-repeat right 0.75rem center/1.25rem 1.25rem;
  padding-right: 2.5rem !important;
  cursor: pointer;
}
