{% extends 'vacaciones/reintegro-vac/reintegro-vacaciones-list-base.html' %}
{% load static %}

{% block titulo_tabla %}
<h2 class="text-2xl font-bold text-gray-700">Reintegros de vacaciones a cargo</h2>
{% endblock %}

{% block tabla_contenido %}
{% include 'vacaciones/partials/_tabla-reintegros.html' with tabla_id='tabla-reintegros-rrhh' mensaje_vacio='No hay reintegros registrados.' %}
{% endblock %}

{% block scripts_especificos %}
<script src="{% static 'vacaciones/js/components/vacaciones/acciones-rrhh-autorizar-reintegro.js' %}"></script>
<script src="{% static 'vacaciones/js/components/vacaciones/acciones-rrhh-rechazar-reintegro.js' %}"></script>
{% endblock %}
