{% extends "base.html" %}
{% load static %}

{% block title %}Periodos vacacionales{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vacaciones/css/datatables-custom.css' %}">
{% endblock %}

{% block content %}
<div class="container mx-auto px-6 py-8">
  
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-3xl font-bold text-black-700">Periodos vacacionales</h1>
    <a href="{% url 'vacaciones:periodo_vacacional_create' %}" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200">
      Agregar periodo
    </a>
  </div>

  <div id="tabla-contenedor" class="mb-6">
  {% include 'vacaciones/partials/_tabla-periodos-vacacionales.html' %}
  </div>

</div>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'vacaciones/js/components/vacaciones/datatables-periodos-vacacionales.js' %}"></script>
{% endblock %}
